.movie {
  &-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    max-width: 200px;
    width: 100%;
    margin: 60px 20px 0 0;

    @media (max-width: 768px) {
      margin-right: 0;
    }

    @media (min-width: 413px) and (max-width: 414px) {
      align-self: center;
    }

    &__title {
      font-family: "Montserrat", "Arial";
      color: #cccccc;
      text-align: center;
    }
  }
}