.error-indicator {
  font-family: "Montserrat", "Arial";
  flex-direction: column;
  display: flex;
  text-align: center;
  margin: 50px auto 0;
  color: #f7c213;
  font-size: 1.375rem;
  max-width: 700px;
  padding: 16px 0;
}
